  
<h2> My Articles! </h2>
<ul>
  <% @articles.each do |article| %>
    <div>
      <li><%= link_to(article.title, article_path(article)) %></li>
    </div>
  <% end %>
</ul>


<%= link_to("Create a new article", new_article_path) %>